# https://www.zeng.dev/post/2023-kubeadm-enable-kubelet-serving-certs/
# Serve insecurely unless we want the above

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
  - https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.6.4/components.yaml

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: metrics-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --kubelet-insecure-tls
